/* .side-nav {
    position: absolute;
}


.city-info {
    position: absolute;
    margin-left: 480px;
    margin-top: 25px;
}

.city-info img {
    padding: 20px;
    height: 250px;
}

.city {
    display: flex;
    align-items: center;
}

.post-image {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
} */

/* body  {
    splay: flexdi;
} */

.logo   {
    float: right;
}
.fs-5 fw-semibold   {
    float: left;
}
.all-cities {
    
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    font-weight: 500;
    
}
.title {
    text-align: center;
}

span    {
    font-family: 'Comfortaa', cursive;
    font-size: 40px;
    text-decoration: underline;
    font-weight: 700;
}