
.main-content {
    margin-top: 50px;
}

.carousel {
    margin: auto;
    width: 80%;
}

.carousel-inner {
    border-radius: 10px;
}

img {
    height: 500px;
    border-radius: 10px;
}

div h1 {
    text-align: center;
}

.browse-btn button a {
    text-decoration: none;
    color: black;
}

h5 a {

    color: white;
}

h5 a:hover {
    color: black;
}

.user-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}