
/* .main-content {
   
    font-family: 'Comfortaa', cursive;
    font-size: 28px;
} */
.navbar-item {
    font-family: 'Comfortaa', cursive;
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding-right: 20px;
}
.carousel {
    margin: auto;
    width: 80%;
}

.carousel-inner {
    border-radius: 10px;
}

img {
    height: 500px;
    border-radius: 10px;
}

.browse-btn {
    text-decoration: none;
    color: black;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    font-weight: 700;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.img-responsive {
    width: 200px;
    height: auto;
}

.title {
    display: block;
    /* width: 500px; */
    height: auto;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 40px;
    margin-top: 30px;
    
}
