{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href=" {% static 'styles/cities.css' %} ">
    <!-- <link rel="stylesheet" href=" {% static 'styles/main.css' %} "> -->
    <title>Cities</title>
</head>

    <!-- that NAV BAR -->
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand">Almanack</a>
          <form class="d-flex">
            <button class="btn btn-link" type="submit">Sign in </button>
            <button class="btn btn-link" type="submit">Sign up</button>
            <button class="btn btn-link" type="submit">Profile</button>
          </form>
        </div>
      </nav>

      <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white side-nav" style="width: 380px;">
        <a href="{%url 'cities' %}" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
          <svg class="bi me-2" width="30" height="24">
            <use xlink:href="#bootstrap"></use>
          </svg>
          <span class="fs-5 fw-semibold">Cities</span>
        </a>


     <!-- Each city in Side Bar tabs -->
    <div class="list-group list-group-flush border-bottom scrollarea">

        {% for name in cities %}
        <a href="{%url 'city_detail' name.id%}" class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
          <div class="d-flex w-100 align-items-center justify-content-between">             
            <strong class="mb-1">{{name}}</strong>         
          </div>
        </a> 
        {% endfor %}
    </div>    

    </div> 

{% block content %}
   
{% endblock %}