{% extends 'cities_base.html' %}
{% load static %}
{% block content %}

      <!-- Cities End-Bar -->
      <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white side-nav" style="width: 380px;">
        <a href="{%url 'cities' %}" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
          <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
          <span class="fs-5 fw-semibold">Cities</span>
        </a>

        <!-- Each city in Side Bar tabs -->
         <div class="list-group list-group-flush border-bottom scrollarea">
          {% for name in cities.all %}
 
          <a href="{%url 'city_detail' name.id%}" class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">             
              <strong class="mb-1">{{name}}</strong>         
            </div>
          </a> 
          {% endfor %}
        </div>
      </div> 
      

            <!-- To get the city -->
            <div class="city-info">
              <div class="city">                          
                    <div class="title">
                      <h1>{{city.name}}</h1>
                    </div>
                
                      <div class="img">
                           <img src="{{city.image}}" class="d-block w-100" alt="city image">
                      </div>
                
                </div>
             </div>

              <!-- Post titles for that city -->
              {% for post in city.posts.all reversed %}
              <div class="posts">
                  <div class="post-image">
                  <!-- <img src="https://images.pexels.com/photos/1141853/pexels-photo-1141853.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" class="d-block w-100" alt="..."> -->
                  </div>
                  <a class="post-title" href=""><button>Title: {{post.title}}</button></a>     
              {% endfor %}
              </div>      
            </div>
            
            {% if user.is_authenticated %}
            <h1 class="title">Create Post</h1>
            <form method="post" action="{% url 'post_create' city.pk%}">
              {% csrf_token %}
              <input class="input" type="text" name="title" placeholder="Title" required />
              <input class="input" type="text" name="content" placeholder="Add your post here!" required />
              <input class="input" type="text" name="image" placeholder="Add an image" required />
              <!-- <input class="input" type="text" name="profile" placeholder="Profile ID" required /> -->
              <input type="submit" class="btn" value="Create Post" />
            </form>
            {% endif %}
       
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
          
      </body>
      </html>
      
      


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

{% endblock %}
</body>
</html>
